@charset "utf-8";

:root {
    --cor1: #200931;
}

* {
    margin: 0px;
    padding: 0px;
   
}
/* ÁREA DE TOP */
header {
    height: 210px;
    background-image: linear-gradient(to left, #280F48, #200931);
    box-shadow: inset 4px 20px 80px rgb(39, 18, 18);
}

nav {
    height: 40px;
    padding-top: 30px;
    background-image: linear-gradient(to left, #280F48, #200931);
}

nav a {
    font: 20px normal, 'sans-serif';
    text-decoration: none;
    margin-left: 80px;
    padding: 15px 20px 10px;
    color: white;
}

nav a:hover {
    background: var(--cor1);
    font: 20px normal, 'sans-serif';
    height: 100px;
    border-radius: 10px;
    transition-duration: 1.2s;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.623);
}

/*ÁRE DO BODY*/