@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    --font: 'freshly';
    --fontbody: 'akrobat';
    --fonth1: 'george';
}

:root {
    --corfont1: #005755;
    --corfont2: #E3B13D;
}

@font-face {
    font-family: 'freshly' ;
    src: url(/MOD_03/exercicio/testes/paralax/fonts/FreshlyThinking.ttf);
}

@font-face {
    font-family:  'akrobat';
    src: url(/MOD_03/exercicio/testes/paralax/fonts/Akrobat-Regular.otf);
}

@font-face {
    font-family: 'george' ;
    src: url(/MOD_03/exercicio/testes/paralax/fonts/Louis\ George\ Cafe\ Italic.ttf);
}




/* ÁREA DO TOPO */
header {
    background: url(/imagens/rebecca-orlov-epic-playdate-rfI4MmZXZOk-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    text-align: center;
}

header.fundo {
    background-color: #005755;
    width: 300px;
    height: 150px;
}
header h1 {
    display: inline-block;
    color: black;
    font-size: 10em;
    font-family: var(--font);
    padding: 20px 0px 20px 0px;
    font-variant: small-caps;
}

.fundo  img {
    width: 9%;
    margin-bottom: 5px;

}


nav {
    margin: auto;
    max-width: 500px;
    background-color: var(--corfont2);
    border-radius: 20px;
    transform: translate(0%, -30%);
}
nav > p {
    text-align: center;
    padding: 10px;
}
nav a {
    margin-left:30px;
    color: var(--corfont1);
    text-decoration: none;
    font-size: 1em;
}
/* ÁREA DE BODY */
main {
    border-left:1px solid var(--corfont2);
    border-right: 1px solid var(--corfont2);
    border-bottom: 1px solid var(--corfont2);
    margin: auto;

    min-width: 360px;
    max-width: 600px;
    padding: 50px;
}
main h1, h2, h3 {
    font-family:var(--fonth1);
    padding:30px 0px 40px 0px;
}

main p {
    padding-bottom: 50px;
    font-family: var(--fontbody);
    line-height: 30px;
    text-align: justify;
    text-indent: 10px;
}

.container-brie {
    width: 100%;
    height: auto;
    border: 1px solid var(--corfont2);
    background: white url(/MOD_03/exercicio/testes/paralax/imagens/brie-cheese.jpg) center center fixed;
    background-size: cover;

}

.container-brie > aside {
    width: 150px;
    margin-top: 450px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    font-family: var(--fonth1); 
    color: white;
}

.container-camember {
    width: 100%;
    height: auto;
    border: 1px solid var(--corfont2);
    background: white url(/MOD_03/exercicio/testes/paralax/imagens/cheese_camembert.jpg) center center fixed;
    background-size: cover;

}

.container-camember > aside {
    width: 175px;
    margin-top: 450px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

    font-family: var(--fonth1); 
    color: white;
}